<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
    </head>

    <body>
        <h1>The Home Page <%= 4 + 5 + 1 %>
                <%='hello world'.toUpperCase() %>
        </h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero ea architecto fugiat voluptatibus, illo, omnis
            cupiditate corrupti cum maiores, eum saepe sequi distinctio adipisci error quidem tempora odit velit non.
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure facilis magnam magni excepturi rerum dolores
            impedit necessitatibus enim nam vel accusamus non qui reprehenderit numquam neque quam, repellat esse
            incidunt.
        </p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores pariatur sed voluptatem molestiae quae
            possimus sunt temporibus quidem repudiandae laudantium, nihil enim qui quo vel, voluptate ipsam natus!
            Omnis, dolore.</p>
    </body>

</html>